*,
*::after,
*::before
{
    margin: 0;
    padding: 0;

}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Segoe UI ', 'Open Sans', sans-serif;
    background-color: #203A61;
}

header{
    height: 14.2vh;
    box-shadow:  0 1px 3px rgb(0 0 0 / 10%), 0 2px 2px rgb(0 0 0 / 6%), 0 0 2px rgb(0 0 0 / 7%);
    position: relative;
    z-index: 30;
}

.logo{
    display: flex;
    position: relative ;
    width: auto;
    height: 21vh;
    /* left: 0.8rem; */
    /* top: -4.261363636363637vh; */
    zoom: 0.75;

}
/* .logo img {
    height: 100%;
} */
.header-container{
    max-width: 144rem;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
nav ul{
    display: flex;
    list-style: none;
    
}
nav ul li{
    text-transform: uppercase;
    padding: 2.5rem;
    letter-spacing: 0.1rem;
    font-size: 1.6rem;
 
}

.right-nav {
    display: flex;
    align-items: center;
    
}



.button{
    color: black;
    background: white;
    border-radius: 80px;
    padding: 0.5rem 1.4rem;
    text-decoration: none;
  
}

.button:hover{
    text-decoration-color: aliceblue;
}


