/* *{
    overflow: hidden;
} */


/* styling for navbar */

@media screen and (max-width: 450px){
    html{
        font-size: 4px;
    }
    
    .header{
        height: 7vh;
    }

    .logo img{
        width: 46vw;
    }

    .links {
        margin-bottom: 0vh;
    }
    
    .links li a{
        height: 2em;
        font-size: 2em;
        width: 12vw;
    }
    
    .links li a:hover{
        transform: translateY(0);
        color: black;
    }

    footer {
        padding-top: 25px;
    }
}

/* ----------- */

.list ul li a{
    font-size: 1em;
    height: 3vh;
}


.contactus{
    font-size: 32px;
    padding-bottom: 30px;
}

/* .socials i{
    font-size: 4.2rem;
    margin: 0px -10px;
} */

.detail-text{
    font-size: 12px;
}

.address i{
    margin-right: 0;
    margin-left: 17px;
    font-size: 25px;
}

.call img{
    height: 25px;
    width: 25px;
    margin-right: -7px;
    margin-left: 17px;

}

.mail img{
    height: 25px;
    width: 25px;
    margin-right: -7px;
    margin-left: 17px;

}

.socials i {
    font-size: 3.3rem;
    margin: 0px 9px;
}

.socials{
    justify-content: center;
}
