/* *{
    overflow: hidden;
} */


/* styling for navbar */

@media screen and (max-width: 450px){
    html{
        font-size: 4px;
    }
    
    .links {
        margin-bottom: 0vh;
    }
    
    .links li a{
        height: 2em;
    }
    
    .links li a:hover{
        transform: translateY(0);
        color: black;
    }

    footer {
        padding-top: 5px;
    }
}

/* ----------- */

.list ul li a{
    font-size: 1em;
    height: 3vh;
}


.contactus{
    font-size: 35px;
    padding-bottom: 30px;
}

.socials i{
    font-size: 4.2rem;
    margin: 0px -10px;
}

.detail-text{
    font-size: 15px;
}

.address i{
    margin-right: 0;
    font-size: 25px;
}

.call img{
    height: 25px;
    width: 25px;
    margin-right: -7px;
}

.mail img{
    height: 25px;
    width: 25px;
    margin-right: -7px;
}
