@media screen and (max-width: 450px) {
    html {
        font-size: 4px;
    }

    .header {
        height: 7vh;
    }

    .logo img {
        width: 46vw;
    }

    .links {
        margin-bottom: 0vh;
    }

    .links li a {
        height: 2em;
        font-size: 2em;
        width: 12vw;
    }

    .links li a:hover {
        transform: translateY(0);
        color: black;
    }

    .knowUs img {
        height: auto;
        width: 95%;
        object-fit: contain;
        margin-bottom: 2vh;
    }

    .heading-main {
        font-size: 5.5em;
    }

    .space img {
        width: 24vw;
        height: 13vh;
    }

    .sanddunes img {
        height: 13vh;
        width: 42vw;
    }

    .family {
        font-size: 6em;
        padding: 1.5em 0;
    }

    .faculty {
        font-size: 5.5em;
    }

    .fac-mentor {
        align-items: center;
        flex-direction: column;
    }

    .fac-photo {
        margin: 0;
        zoom: 2.2;
    }

    .fac-socials a img {
        margin: 1rem 1.5rem;
        width: 5rem;
        height: 5rem;
    }

    .fac-desc {
        width: 70%;
        padding-right: 0;
    }

    .fac-name {
        font-size: 5em;
    }

    .fac-info {
        font-size: 2.8em;
    }

    .fac-info br {
        display: none;
    }

    .mentor {
        font-size: 5.5em;
        padding: 1.5em 0;
        margin-top: 0.8em;
    }

    .stud {
        width: 23vw;
        height: 16vh;
        zoom: 1.4;
    }

    .stud-mentor {
        padding-bottom: 1em;
    }

    .carousel {
        padding-top: 0vh;
    }

    .team-name {
        padding-bottom: 0.3em;
    }

    .member {
        height: 14vh;
        width: 13vw;
    }

    .member img {
        height: 12vh;
        width: 13vw;
    }

    .member::after {
        height: 12vh;
        width: 13vw;
    }

    .mem-desc {
        height: 3vh;
        transform: translateY(-6px);
    }

    .member:hover .mem-desc {
        transform: translateY(-11px);
    }

    .mem-name {
        font-size: 1.7em;
    }

    .mem-socials ul li a i {
        font-size: 2em;
    }

    .slider {
        padding-top: 4em;
        margin-top: -5em;
    }

    .carousel-indicators {
        bottom: -9em;
        zoom: 0.5;
    }

    .carousel-control-next,
    .carousel-control-prev {
        top: 10em;
    }

    .carousel-control-next {
        right: 4em;
    }

    .carousel-control-prev {
        left: 4em;
    }

    .bottom {
        padding-top: 5em;
    }

    .socials a i {
        font-size: 3.3rem;
        margin: 0px 9px;
    }

    .socials {
        justify-content: center;
        height: auto;
        margin-top: 2vh;
    }
}