/* *{
    overflow: hidden;
} */

.list ul li a{
    font-size: 1em;
    height: 3vh;
}

.contactus{
    font-size: 35px;
    padding-bottom: 30px;
}

.socials i{
    font-size: 2.2rem;
    margin: 0px -10px;
}

.detail-text{
    font-size: 15px;
}

.address i{
    margin-right: 0;
    font-size: 25px;
}

.call img{
    height: 25px;
    width: 25px;
    margin-right: -7px;
}

.mail img{
    height: 25px;
    width: 25px;
    margin-right: -7px;
}
