@media screen and (max-width: 450px) {
    html {
      font-size: 4px;
    }
    .landing-page > img{
        width: 106.5%;
    }
    .header {
      height: 7vh;
      width: 106.5%;
    }

    .links {
      margin-bottom: 0vh;
    }
    .bottom{
      width: 106.5%;
    }
    .links li a {
      height: 2em;
      font-size: 2.1em;
    }
  
    .links li a:hover {
      transform: translateY(0);
      color: black;
    }
    .socials{
      position: absolute;
      left: 30vw;
    }
    .footer {
      margin-top: 50px;
    }
    .past-events{
      width: 106%;
    }
    .handles{
      justify-content: center;
      padding: 0.8em;
    }
  }