@media screen and (max-width: 450px){
    .landing-page{
        padding-bottom: 0em;
        padding-top: 8em;
        height: 20vh;
    }

    .page-desc::after{
        bottom: 54vh;
        width: 63vw;
        height: 0.3vh;
    }

    .landing-page img{
        display: block;
        object-fit: contain;
        margin: auto;
        width: 33vw;
        height: 100%;
        top: 0em;
        left: 0em;
    }

    .container{
        padding-bottom: 5em;
    }

    .page-desc{
        padding: 0rem 18rem 9rem 18rem;
        font-size: 2.6em;
    }

    /* .events{
        padding: 10em 0;
        height: 40vh;
    } */

    .past-events{
        padding-bottom: 37em;
    }

    .past-photo{
        /* object-fit: cover; */
        height:48rem;
        width: 38rem;
    }
    
    .heading{
        padding: 0;
        padding-bottom: 4rem;
        height: 6vh;
    }

    .heading h2{
        font-size: 6rem;
    }

    .card{
        zoom:1.2;
    }

    .past-heading{
        font-size: 6rem;
    }

    .past-title{
        font-size: 4.1rem;
    }

    .past-card{
        zoom:1.2;
    }

    .socials {
        width: 24vw;
        margin-top: 4vw;
        font-size: 4px;
    }
    
    .icon img {
        width: 5em;
        height: 5em;
    }

    .socials a img {
        width: 3.2em;
        height: 3.2em;
    }

    .prev, .next{
        margin-top: 52px;
    }

    .event-desc{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .event-details{
        padding-top: 2vh;
    }

    .event-poster{
        height: 30vh;
        width: 30vh;
    }

    .poster{
        justify-content: center;
    }

    .event-name h3{
        font-size: 5rem;
    }

    .event-details pre{
        font-size: 2.5rem;
    }

    .register{
        width: 22vw;
    }

    .past-event-poster figcaption{
        width: 50vw;
        font-size: 2.5rem;
    }

    
}