
.event-desc{
    display: flex;
    padding: 15vh 11vw 10vh 11vw;
    justify-content: space-around;
}
.poster{
    display: flex;
    justify-content: center;
    width: 50vw;
    align-items: center;
}

.event-poster{
    /* padding-top: 1.6vh; */
    height: auto;
    width: 100%;
    padding-right: 15rem;
    /* padding-top: 5rem; */
}

.event-info{
    display: flex;
    flex-direction: column;
    width: 50vw;
    align-items: center;

}

h3{
    font-size: 5rem;
    color: white;
    font-weight: normal;
}

.event-details{
    padding-top: 2vh;
    word-spacing: 0.5rem;
    line-height: 2rem;
}
pre {
    white-space: pre-wrap;
    font-size: 1.5rem;
    color: white;
    font-weight: lighter;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    
}

.register{
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid #f2f2f2;
    background-color: #f2f2f2; */
    width: 12vw;
    margin: 0 auto;
    height: 5vh;
    color: black;

    text-decoration: none;
    
}
span{
    text-align: center;
}
.cta{
    display: flex;
    justify-content: center;
}

button{
    border-radius: 100px;
    
}

