*,
*::after,
*::before
{
    margin: 0;
    padding: 0;
}

html{
    font-size: 10px;
}

body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    background-color: #203A61;
}