/* landing img styling */
.landing-page {
  width: 100%;
  height: 30vh;
  /* overflow: auto; */
  background: #ffffff;
  padding: 7em 0em;
  padding-bottom: 4em;
  display: flex;
}

.landing-page img {
  display: block;
  object-fit: contain;
  margin: auto;
  width: 33vw;
  height: 134%;
  position: relative;
  top: -6em;
}

/* heading styling */

.main-heading {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: flex-end;
  /* height: 8vh; */
  padding: 1rem 0 2rem 0;
  font-size: 3em;
  color: black;
  background-color: #ffffff;
}

.heading {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: flex-end;
  height: 15vh;
  padding: 0rem 0 5rem 0;
  font-size: 4em;
}

.heading h2 {
  font-size: 4rem;
  color: white;
  font-weight: 600;
}

.events {
  justify-content: center;
  padding: 3em 0 10em 0;
}

/* event desc styling */

.page-desc {
  font-size: 2em;
  color: black;
  background-color: #ffffff;
  padding: 0rem 32rem 4rem 32rem;
  display: flex;
  text-align: center;

}

/* .page-desc::after{
    position: absolute;
    width: 65%;
    height: 0.6vh;
    background: black;
    content: "";
    bottom: 4vh;
    left: 17.5%;
} */

/* events box styling */

.container {
  display: flex;
  justify-content: center;
  padding: 0rem 0rem 2rem;
}

.upcoming {
  display: flex;
  flex-direction: row;
  width: 70vw;
  justify-content: space-evenly;
  margin: auto;
}

.event-poster {
  object-fit: contain;
  border-radius: 2%;
}

.card {
  display: flex;
  height: 50rem;
  width: 30rem;
  background-color: #000;
  border-radius: 10px;
  /* box-shadow: -1rem 0 3rem rgba(47,47,47, 0.8); */
  transition: 0.4s ease-out;
}

.card:not(:first-child) {
  margin-left: -50px;
}

.card:hover {
  transform: translateY(-2em);
}

.recent-event {
  padding: 13em 2.5rem 0;
  height: 34rem;
  width: 25rem;
  transition: 0.6s ease-out;
}

.card:hover .recent-event {
  transform: scale(1.1);
}

.title {
  color: white;
  position: absolute;
  font-size: 3rem;
  padding: 2rem 3rem;
}

.bar {
  position: relative;
  height: 0.5rem;
  display: flex;
  width: 12rem;
  align-items: center;
  top: 9.3rem;
  left: 3rem;
}

.emptybar {
  background-color: #2e3033;
  width: 100%;
  height: 100%;
}

.filledbar {
  position: absolute;
  top: 0px;
  z-index: 3;
  width: 0px;
  height: 100%;
  background: linear-gradient(90deg, rgba(80, 230, 255, 1) 0%, rgba(0, 120, 212, 1) 45%, rgba(36, 58, 94, 1) 100%);
  transition: 0.6s ease-out;
}

.card:hover .filledbar {
  width: 17em;
  transition: 0.4s ease-out;
}

.section-change {
  position: absolute;
  /* top: 109vh;
  left: 50vw; */
  margin-right: -50vw;
  transform: translate(-50%, -50%);
  width: 50vw;
  border-radius: 5rem;
  border: 0.2rem solid rgb(255, 255, 255);
}

.strong {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
}