* {
  z-index: -1;
  margin: 0;
  padding: 0;
  border-radius: 0;
  font-weight: 400;
}

@font-face {
  font-family: "Segoe UI Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Segoe UI"), url("Segoe UI.woff") format("woff");
}

@font-face {
  font-family: "Segoe UI Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Segoe UI Italic"), url("Segoe UI Italic.woff") format("woff");
}

@font-face {
  font-family: "Segoe UI Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Segoe UI Bold"), url("Segoe UI Bold.woff") format("woff");
}

@font-face {
  font-family: "Segoe UI Bold Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Segoe UI Bold Italic"),
    url("Segoe UI Bold Italic.woff") format("woff");
}

body {
  overflow: hidden;
  font-family: "Segoe UI Regular";
}

.main {
  border: 30px solid #203a61;
  position: absolute;
  background-image: url(../images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 95.85vw;
  height: 92.9vh;
}
.logo-image {
  position: absolute;
  display: flex;
  width: 100vw;
  padding-left: 42vw;
  padding-top: 15vw;
}
.logo-image > img {
  width: 15vw;
}
.title {
  position: absolute;
  justify-content: center;
  display: flex;
  width: 100vw;
  font-weight: 600;
  font-size: 3vw;
  color: white;
  top: 68vh;
  font-family: 'Segoe UI Regular'; 
}
.social {
  justify-content: center;
  position: absolute;
  display: flex;
  bottom: 0vh;
  width: 100vw;
}

.social > a > img {
  width: 3.2vw;
  padding: 2vw;
}

.buttons {
  color: white;
  font-size: 2.8vw;
  display: flex;
}

.About,
.Events {
  position: absolute;
  top: 45vh;
  border: 1px solid #203a61;
  background-color: #203a61;
  border-radius: 3vw;
  padding: 0.6vw;
  font-family: 'Segoe UI Regular'; 
}

.Events {
  position: absolute;
  right: -0.7rem;
}
.About {
  position: absolute;
  left: -0.7rem;
}

.popup {
  display: flex;
  justify-content: space-between;
  z-index: 110;
}

.about-us,
.upcoming-events {
  position: absolute;
  justify-content: center;
  bottom: -38vh;
  width: 50%;
  height: 30vh;
  border: 1px solid #50E6FF
  background-color: #50E6FF
  transition: all 0.5s ease-in;
}
.about-us > a > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40vw;
}

.upcoming-events > a > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50vw;
}

button {
  align-items: center;
  padding: 1.2vw;
  width: 18vw;
  font-family: 'Segoe UI Regular';   
  font-size: 2.2vh;
  color: white;
  background-color: black;
  border-radius: 2vh;
}
.upcoming-events > button {
  margin-right: 20vw;
  margin-top: 10vh;
}
.about-us > button {
  margin-left: 20vw;
  margin-top: 5vh;
}
