/* animations */
@keyframes blurme {
  0%{
    filter:blur(0);
  }

  50%{
    filter:blur(2px);
  }
  
  100%{
    filter: blur(0);
  }
}

@keyframes blurme1 {
  0%{
    filter:blur(0px);
  }

  100%{
    filter: blur(2px);
  }
}


*{
  padding: 0;
  margin: 0;
  overflow: hidden;
  z-index: 2;
}

/* Styling the video */
video{
  position: absolute;
  width: 100%;
  height: 100%;
  top: -2.5em;
  left: 0;
  object-fit: cover;
  z-index: 1;
  transition: opacity ease-in 0.6s;
}

.loading{
  /* background: #0a0129; */
  background: #060f1e;
  position: absolute;
  height: 100vh;
  width: 100vw;
}

/* Styling main container */
.main{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

/* Styling buttons */

.buttons{
  font-size: x-large;
}

.buttons > a {
  text-decoration: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
  color: white;
  width: 3.3em;
}

.events{
  position: absolute;
  top: 47vh;
  right: -1.3em;
  background-color: #203a61;
  padding: 1em;
  border-top-left-radius: 0.8em;
  border-bottom-left-radius: 0.8em;
}

.events:hover{
  right: 0em;
}

.about{
  position: absolute;
  top: 47vh;
  left: -0.9em;
  background-color: #203a61;
  padding: 1em;
  border-top-right-radius: 0.8em;
  border-bottom-right-radius: 0.8em;  
}

.about:hover{
  left: 0em;
}

.events, .about{
  transition: left ease-in 0.1s, right ease-in 0.1s;
}

/* social styling */

.social{
  display: flex;
  position: absolute;
  bottom: 0;
  justify-content:center;
  width: 100%;
}

.social a{
  padding: 0 3.5em;
}

.social > a > img {
  width: 3.2vw;
  padding: 2vw;
}
