* {
  z-index: -1;
  margin: 0;
  padding: 0;
  border-radius: 0;
  font-weight: 400;
  zoom: 0.9; 
}

@font-face {
  font-family: "Segoe UI Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Segoe UI"), url("Segoe UI.woff") format("woff");
}

@font-face {
  font-family: "Segoe UI Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Segoe UI Italic"), url("Segoe UI Italic.woff") format("woff");
}

@font-face {
  font-family: "Segoe UI Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Segoe UI Bold"), url("Segoe UI Bold.woff") format("woff");
}

@font-face {
  font-family: "Segoe UI Bold Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Segoe UI Bold Italic"),
    url("Segoe UI Bold Italic.woff") format("woff");
}

body {
  overflow: hidden;
  font-family: "Segoe UI Regular";
}

.main {
  border: 30px solid #203a61;
  position: absolute;
  background-position: center center;
  background-image: url(../images/background.jpg);

  background-size: cover;
  background-repeat: no-repeat;
  
  right: 0px;
  bottom: 0px;
  left: 0px;
  top: 0px;

  
}
 .logo-image {
  position: absolute;
  display: flex;
  padding-left: 44%;
  padding-top: 60vh;
  }  
.logo-image > img {
  width: 20vw;
}
.title {
  position: absolute;
  resize: horizontal;
  justify-content: center;
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 3vw;
  color: white;
  bottom: 20%;
  left: 0;
  right: 0;
  margin: 0 auto;
  font-family: 'Segoe UI Regular'; 
}
.social {
  zoom: 0.8;
  justify-content: center;
  position: absolute;
  display: flex;
  bottom: 0vh;
  right: 50%;
  left: 50%;
}

.social > a > img {
  width: 3.2vw;
  padding: 2vw;
}

.buttons {
  color: white;
  font-size: 2.8vw;
  display: flex;
}

.About,
.Events {
  position: absolute;
  top: 47%;
  bottom: 47%;
  height: fit-content;
  border: 1px solid #203a61;
  background-color: #203a61;
  text-align: center;
  padding: 3.5vw;
  font-family: 'Segoe UI Regular'; 
}

.Events {
  position: absolute;
  right: -0.7rem;
  border-radius: 3vw 0vw 0vw 3vw;
}
.About {
  position: absolute;
  left: -0.7rem;
  border-radius: 0vw 3vw 3vw 0vw;
}

.popup {
  display: flex;
  justify-content: space-between;
  z-index: 110;
  height: 100%;
  color: #203a61;
}

.about-us,
.upcoming-events {
  bottom: -150vh ;
  position: absolute;
  width: 50%;
  height: 45vh; 
  transition: all 0.5s ease-in;
}
 .about-us > a > img {
  padding-left: 6vh;
  width: 50vw; 
  margin-top: -18vh;
}
.about-us > a > button {
  margin-left: 25vw;
  margin-top: 0.66vh;
} 
.upcoming-events{
  height: 45vh ;
}
.upcoming-events > a > img {

  width: 89vw; 
} 
.upcoming-events > a > button {
  margin-left: 36vw;
  margin-top: 0.66vh;
}

button {
  align-items: center;
  padding: 1.2vw;
  width: 18vw;
  font-family: 'Segoe UI Regular';   
  font-size: 2.2vh;
  color: black;
  background-color: white;
  border-radius: 2vh;
  margin-right: 10vh;
}
